# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.sqlite
*.tlog
*.recipe
*.log
*.iobj
*.ipdb
/NeutrinoAgent/Release/NeutrinoAgent.vcxproj.FileListAbsolute.txt
/Release/NeutrinoInjector.vcxproj.FileListAbsolute.txt
